[submodule "www/modules/custom/client_forms"]
	path = www/modules/custom/client_forms
	url = git@github.com:herzing-web/client_forms_d8.git
[submodule "www/modules/custom/client_api"]
	path = www/modules/custom/client_api
	url = git@github.com:herzing-web/client_api_d8.git
[submodule "www/modules/custom/client_forms_track"]
	path = www/modules/custom/client_forms_track
	url = git@github.com:herzing-web/client_forms_track_d8.git
[submodule "www/modules/custom/herzing_functions"]
	path = www/modules/custom/herzing_functions
	url = git@github.com:herzing-web/herzing_functions_d8.git
[submodule "www/modules/custom/client_forms_fields"]
	path = www/modules/custom/client_forms_fields
	url = git@github.com:herzing-web/client_forms_fields_d8.git
[submodule "www/modules/custom/client_hub"]
	path = www/modules/custom/client_hub
	url = git@github.com:herzing-web/client_hub.git
[submodule "www/modules/custom/client_catalog"]
	path = www/modules/custom/client_catalog
	url = git@github.com:herzing-web/client_catalog.git
[submodule "www/modules/custom/client_catalog_courses"]
	path = www/modules/custom/client_catalog_courses
	url = git@github.com:herzing-web/client_catalog_courses.git
[submodule "www/modules/custom/element_campusprogram"]
	path = www/modules/custom/element_campusprogram
	url = git@github.com:herzing-web/element_campusprogram.git
[submodule "www/modules/custom/webform_formsapi"]
	path = www/modules/custom/webform_formsapi
	url = git@github.com:herzing-web/webform_formsapi.git
