[submodule "www/modules/custom/client_forms"]
	path = www/modules/custom/client_forms
	url = git@github.com:herzing-web/client_forms_d8.git
[submodule "www/modules/custom/client_api"]
	path = www/modules/custom/client_api
	url = git@github.com:herzing-web/client_api_d8.git
[submodule "www/modules/custom/client_forms_track"]
	path = www/modules/custom/client_forms_track
	url = git@github.com:herzing-web/client_forms_track_d8.git
[submodule "www/modules/custom/herzing_functions"]
	path = www/modules/custom/herzing_functions
	url = git@github.com:herzing-web/herzing_functions_d8.git